@using Microsoft.AspNetCore.Http.Extensions
@model IList<RealEstateObject>

@{
    ViewBag.Title = "ЛК собственника";
    Layout = "_Layout";
}

<h2>Список объектов</h2>

<div id="list">
    @{
        foreach (var realEstateObject in Model)
        {
            <div>
                <div class="photoThumb">
                    <img src="@realEstateObject.ThumbnailUrl" alt="Фотография объекта"/></div>
                <div>
                    <div class="title">@realEstateObject.Title</div>
                    <div class="description">@realEstateObject.Description</div>
                    <div><a href="@UriHelper.BuildRelative()">Управление</a> </div>
                </div>
            </div>
        }
    }
</div>