<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - HourlyRate</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css"/>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
          <a class="navbar-brand" href="/" style="
              padding: 10px 0;
              margin-right: 40px;
          "><svg width="186" height="39" viewBox="0 0 317 66" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0)">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M29.701 13.907C27.3457 13.907 25.4367 11.9807 25.4367 9.60495C25.4367 7.2284 27.3457 5.3025 29.701 5.3025C32.0563 5.3025 33.9656 7.2284 33.9656 9.60495C33.9656 11.9807 32.0563 13.907 29.701 13.907ZM29.701 0.243286C24.5644 0.243286 20.4006 4.44394 20.4006 9.6265C20.4006 11.3938 20.886 13.0474 21.7289 14.4583C21.9009 14.747 22.0879 15.0253 22.289 15.2924L22.9065 16.1565L29.701 24.4226L37.1141 15.2913C38.298 13.7168 39.0013 11.7545 39.0013 9.6265C39.0013 4.44394 34.8376 0.243286 29.701 0.243286Z" fill="#0468FF"></path>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M33.2518 43.8378V28.0918H26.3623V35.4874L19.4769 27.1422L0.304688 50.3794L6.68229 55.7347L19.4769 40.2275L32.2711 55.7347L38.6488 50.3794L33.2518 43.8378Z" fill="#0468FF"></path>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M75.5043 28.0706H69.3944V49.533H57.319V28.0706H51.2095V55.2335H73.7069V60.6846H79.242V49.533H75.5043V28.0706Z" fill="#152242"></path>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M89.6249 46.3574V28.0702H83.5154V55.2335H89.6249L102.42 36.9459V55.2335H108.529V28.0702H102.42L89.6249 46.3574Z" fill="#152242"></path>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M161.172 28.0706V38.744H148.702V28.0706H142.591V55.2335H148.702V44.4831H161.172V55.2335H167.246V28.0706H161.172Z" fill="#152242"></path>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M130.597 43.7643C130.597 45.8964 130 47.5648 128.82 48.7236C127.627 49.8957 125.894 50.4905 123.669 50.4905C120.886 50.4905 119.354 49.2255 119.354 46.9284C119.354 44.5326 121.358 43.1023 124.714 43.1023H130.597V43.7643ZM125.499 27.5524C122.306 27.5524 119.557 28.4143 117.545 30.0448C115.665 31.5691 114.551 33.699 114.401 36.0458H120.423C120.699 34.7857 122.033 32.8196 125.499 32.8196C128.691 32.8196 130.597 34.7429 130.597 37.9639V38.0988H124.453C120.815 38.0988 118.004 38.9287 116.1 40.5656C114.275 42.1337 113.349 44.3632 113.349 47.1918C113.349 49.6304 114.301 51.8186 116.029 53.3529C117.801 54.9263 120.263 55.7577 123.147 55.7577C127.665 55.7577 130.122 53.5335 130.968 52.5809L131.388 54.9081L131.446 55.2302H131.77H136.213H136.603V54.8379V37.9639C136.603 31.542 132.348 27.5524 125.499 27.5524Z" fill="#152242"></path>
          </g>
          <path d="M173.476 54.8348V48.4131H179.846V54.8348H173.476Z" fill="#737A8E"></path>
          <path d="M184.867 50.2775C185.626 50.2429 186.3 50.1221 186.887 49.9149C187.474 49.6733 187.957 49.3107 188.337 48.8274C189.131 47.8261 189.649 46.0826 189.89 43.5967C190.132 41.0764 190.287 37.4339 190.357 32.6694L190.408 26.5584H211.849V54.8348H205.738V31.5301H196.157L196.105 33.4462C196.07 37.0714 195.932 40.1097 195.691 42.561C195.484 44.9778 195.138 46.963 194.655 48.5166C194.172 50.0703 193.55 51.3132 192.791 52.2454C191.893 53.3502 190.823 54.0925 189.58 54.4723C188.371 54.8521 186.904 55.0765 185.178 55.1456L184.867 50.2775Z" fill="#737A8E"></path>
          <path d="M233.243 55.3527C230.274 55.3527 227.737 54.7485 225.63 53.5401C223.524 52.3317 221.919 50.6227 220.814 48.4131C219.709 46.2034 219.157 43.6313 219.157 40.6966C219.157 37.7619 219.709 35.207 220.814 33.0319C221.919 30.8223 223.524 29.1133 225.63 27.9049C227.737 26.6619 230.274 26.0405 233.243 26.0405C236.213 26.0405 238.75 26.6619 240.856 27.9049C242.962 29.1133 244.568 30.8223 245.673 33.0319C246.777 35.207 247.33 37.7619 247.33 40.6966C247.33 43.6313 246.777 46.2034 245.673 48.4131C244.568 50.6227 242.962 52.3317 240.856 53.5401C238.75 54.7485 236.213 55.3527 233.243 55.3527ZM233.243 50.381C235.867 50.381 237.818 49.5352 239.095 47.8434C240.407 46.1171 241.063 43.7349 241.063 40.6966C241.063 37.6583 240.407 35.2933 239.095 33.6016C237.818 31.8753 235.867 31.0122 233.243 31.0122C230.619 31.0122 228.651 31.8753 227.339 33.6016C226.062 35.3279 225.423 37.6929 225.423 40.6966C225.423 43.7349 226.062 46.1171 227.339 47.8434C228.651 49.5352 230.619 50.381 233.243 50.381Z" fill="#737A8E"></path>
          <path d="M267.755 65.1925V55.0938C262.956 54.8866 259.244 53.5229 256.62 51.0025C253.996 48.4821 252.684 45.0641 252.684 40.7484C252.684 36.4672 253.996 33.0492 256.62 30.4943C259.279 27.9049 262.99 26.5066 267.755 26.2994V15.9935H273.607V26.2994C278.371 26.5066 282.083 27.8876 284.741 30.4425C287.4 32.9974 288.729 36.4327 288.729 40.7484C288.729 45.0641 287.4 48.4821 284.741 51.0025C282.083 53.5229 278.371 54.8866 273.607 55.0938V65.1925H267.755ZM282.773 40.7484C282.773 37.8137 281.996 35.5005 280.443 33.8087C278.889 32.117 276.61 31.1503 273.607 30.9086V50.5364C276.61 50.2947 278.889 49.3453 280.443 47.688C281.996 45.9963 282.773 43.6831 282.773 40.7484ZM258.588 40.7484C258.588 43.6831 259.365 45.9963 260.919 47.688C262.507 49.3453 264.785 50.2947 267.755 50.5364V30.9086C264.785 31.1503 262.507 32.117 260.919 33.8087C259.365 35.5005 258.588 37.8137 258.588 40.7484Z" fill="#737A8E"></path>
          <path d="M301.515 54.8348V31.5301H292.142V26.5584H317V31.5301H307.626V54.8348H301.515Z" fill="#737A8E"></path>
          <defs>
          <clipPath id="clip0">
          <rect width="167.551" height="60.9275" fill="white"></rect>
          </clipPath>
          </defs>
          </svg>
          </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="ClientAdmin" asp-action="ObjectList">Мои бронирования</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Owner" asp-action="Objects">Мои объекты</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">

</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>